<o-form
  service="subLapses"
  entity="subLapse"
  keys="SUB_LAPSE_ID;SUBS_ID;FR_ID"
  header-actions="U"
  show-header-navigation="no"
  keys-sql-types="INTEGER"
>
  <o-column title="{{ 'SUBSCRIPTION_INFORMATION' | oTranslate }}">
    <o-row fxFlex="100">
      <o-text-input
        attr="PLATF_NAME"
        layout-padding
        fxFlex="33"
        read-only="yes"
      ></o-text-input>
      <o-text-input
        attr="PLAN_NAME"
        layout-padding
        fxFlex="33"
        read-only="yes"
      ></o-text-input>
      <o-text-input
        attr="FR_NAME"
        layout-padding
        fxFlex="33"
        read-only="yes"
      ></o-text-input>
    </o-row>
    <o-row>
      <o-date-input
        attr="SUB_LAPSE_START"
        label="SUB_START"
        class="input-padding"
        layout-padding
        fxFlex="33"
        read-only="yes"
      ></o-date-input>
      <o-date-input
        attr="SUB_LAPSE_END"
        label="SUB_END"
        class="input-padding"
        layout-padding
        fxFlex="33"
        read-only="yes"
      ></o-date-input>
    </o-row>
    <o-row>
      <o-real-input
        attr="SUB_LAPSE_PRICE"
        fxFlex="33"
        layout-padding
      ></o-real-input>
      <o-checkbox
        attr="SUBS_AUTORENEWAL"
        label="RENEW"
        [data]="true"
        read-only="no"
        required="yes"
        layout-padding
      ></o-checkbox>
    </o-row>
  </o-column>
</o-form>
