<o-column title="{{ 'SUBSCRIPTIONS_TO_RENEW' | oTranslate }}"></o-column>
<o-list
  #list
  (onDataLoaded)="calculateDays()"
  delete-button="no"
  refresh-button="no"
  quick-filter="no"
  attr="customerlist"
  service="subLapses"
  entity="subLapseToRenew"
  columns="SUB_LAPSE_ID;PLATF_NAME;SUB_LAPSE_END;SUB_LAPSE_PRICE;SUBS_AUTORENEWAL,PLATF_LINK"
  keys="SUB_LAPSE_ID"
  class="home-list"
>
  <div class="card-container">
    <mat-card
      *ngFor="let rowData of list.dataArray; let i = index"
      [o-list-item]="rowData"
      class="mat-card"
    >
      <mat-card-header>
        <mat-card-title>
          <div>
            {{ rowData.PLATF_NAME }}
          </div>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="mat-card-content">
        <div>
          {{ "SUBSCRIPTIONS-END" | oTranslate }}
          {{ rowData.SUB_LAPSE_END | date }}
        </div>

        <div>
          {{ rowData.shared_price | currency : "EUR" : true }}
        </div>

        <div *ngIf="showRenewal[i]; else noCaduca">
          {{ "EXPIRES" | oTranslate }}{{ remainingDays[i]
          }}{{ "DAYS" | oTranslate }}
        </div>

        <ng-template #noCaduca>
          <div>
            {{ "RENEW-ON" | oTranslate }}{{ remainingDays[i]
            }}{{ "DAYS" | oTranslate }}
          </div>
        </ng-template>
      </mat-card-content>
      <button
        mat-raised-button
        class="mat-raised-button"
        class="mat-raised-button class"
        *ngIf="showRenewal[i] && rowData.platf_link"
        (click)="goToDoc(webLinks[i])"
      >
        {{ "UNSUSCRIBE" | oTranslate }}
      </button>
      <p class="cancel-message" *ngIf="showRenewal[i] && !rowData.platf_link">
        {{ "RENEW_SUBSCRIPTION" | oTranslate }}
      </p>
    </mat-card>
  </div>
</o-list>
