.m-top-24 {
  margin-top: 24px;
}

.full-page {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .login-outer-container {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("^assets/images/bg-image.png");

    .wrapp-login {
      width: 640px;
      min-height: 100%;

      .login-inner-container {
        background-color: #dbf0fe;
        width: 100%;
        form {
          padding: 2rem;

          min-width: 368px;
        }

        .session-expired {
          text-align: center;
        }

        .login-title-container {
          margin-top: 64px;
        }

        button {
          width: 100%;
          margin: 32px 0 0;
          height: 42px;
          font-size: 16px;
        }

        .dark_text {
          color: #c5c5c5;
          font-size: 9pt;
        }

        .login_info,
        .title_text {
          font-size: 14px;
        }

        .title_text,
        .mat-checkbox-label {
          font-weight: 600;
          color: #065471;
        }

        .text {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }

  .footer-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 2;

    div {
      height: 40px;
      margin-right: 138px;

      span {
        font-size: 11px;
        padding-right: 4px;
      }
    }
  }
}
@media (max-width: 576px) {
  .full-page {
    .login-outer-container {
      .wrapp-login {
        width: 100%;
        min-height: 100%;

        .login-inner-container {
          width: 100%;

          form {
            min-width: auto;
            min-height: auto;
          }
        }
      }
    }
  }
}
