<o-form show-header="no">
  <div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-filter-builder
      #filterBuilderNumUsers
      attr="thefilter"
      filters="USERS:users"
      [target]="customPlatformTable"
      query-on-change="no"
      query-on-change-delay="500"
      [expression-builder]="createFilterNumUsers"
      (onClear)="resetFilter($event)"
    ></o-filter-builder>

    <o-row layout-gap="18px">
      <o-text-input
        fxFlex="30"
        attr="users"
        label="MIN_USERS"
      ></o-text-input>
      <o-button
        attr="filter"
        [oFilterBuilderQuery]="filterBuilderNumUsers"
        type="RAISED"
        label="FILTER"
        class="filter-button"
      >
      </o-button>
      <o-button
        attr="clear"
        [oFilterBuilderClear]="filterBuilderNumUsers"
        type="RAISED"
        label="SHOW ALL"
        class="filter-button"
      >
      </o-button>
    </o-row>
    <o-table
      #customPlatformTable
      attr="customPlatformTable"
      service="platforms"
      entity="usersByCustomPlat"
      delete-button="no"
      refresh-button="no"
      insert-button="no"
      keys="PLATF_NAME"
      columns="PLATF_NAME;USERS"
      visible-columns="PLATF_NAME;USERS"
      query-rows="15"
      virtual-scroll="no"
    >
      <o-table-column attr="PLATF_NAME" title="PLATF_NAME"  content-align="center"> </o-table-column>
      <o-table-column attr="USERS" title="NUMBER_OF_USERS" content-align="center">
      </o-table-column>
    </o-table>
  </div>
</o-form>
