<o-form
  service="subscriptions"
  entity="subscription"
  keys="SUBS_ID"
  header-actions="R;I;U;D"
  show-header-navigation="no"
>
  <o-row>
    <o-column title-label="CUSTOMER_PERSONAL_INFORMATION" fxFlex>
      <o-row>
        <o-text-input
          class="input-padding"
          attr="SUBS_PRICE"
          fxFlex="40"
          required="yes"
        ></o-text-input>
        <o-date-input
          attr="SUBS_START_DATE"
          label="Date"
          read-only="no"
          format="LL"
          required="yes"
          min="01/01/1980"
          max="01/01/2020"
          text-input-enabled="no"
        ></o-date-input>
      </o-row>
      <o-row>
        <o-combo
          attr="PLATF_NAME"
          oLocker
          read-only="no"
          service="platforms"
          entity="platform"
          columns="PLATF_ID;PLATF_NAME"
          value-column="PLATF_NAME"
          keys="PLATF_ID"
          visible-columns="PLATF_NAME"
          width="33%"
        >
        </o-combo>
        <o-combo
          attr="FR_NAME"
          oLocker
          read-only="no"
          service="frequencies"
          entity="frequency"
          columns="FR_ID;FR_NAME;FR_VALUE"
          value-column="FR_NAME"
          keys="FR_ID"
          visible-columns="FR_NAME"
          width="33%"
        >
        </o-combo>
      </o-row>
    </o-column>
  </o-row>
</o-form>
