<o-form
  service="userSubs"
  entity="userSub"
  keys="USER_SUB_ID"
  show-header-navigation="no"
  header-actions="I"
  cancel-button="no"
  (onInsert)="reload()"
>
  <o-combo
    fxFlex="50"
    attr="USER_"
    label="USER"
    layout-padding
    read-only="no"
    service="users"
    entity="userToShare"
    columns="USER_;NAME"
    value-column="USER_"
    keys="USER_"
    visible-columns="USER_"
    fxFlex="33"
    null-selection="yes"
    searchable="true"
  >
  </o-combo>

  <p>¿No encuentras al usuario que necesitas?</p>
  <o-text-input
    attr="USER_SUB_VIRTUAL"
    label="USER_SUB_VIRTUAL"
    read-only="no"
  ></o-text-input>
</o-form>
