<o-list #list (onDataLoaded)="calculateDays()" attr="customerlist" service="subLapses" entity="subLapseToRenew"
  columns="SUB_LAPSE_ID;PLATF_NAME;SUB_LAPSE_END;SUB_LAPSE_PRICE,SUBS_AUTORENEWAL,PLATF_LINK" keys="SUB_LAPSE_ID">
  <o-column title="{{ 'CENTRALIZATION_OF_SUBSCRIPTIONS_IN_TRANSIT' | oTranslate }}"></o-column>
  <div class="card-container">
    <mat-card *ngFor="let rowData of list.dataArray; let i = index" [o-list-item]="rowData" class="mat-card">
      <mat-card-header>
        <mat-card-title>
          <div>
            {{rowData.PLATF_NAME}}
          </div>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="mat-card-content">
        <div>
          La suscripción termina el {{rowData.SUB_LAPSE_END|date}}
        </div>

        <div>
          {{rowData.SUB_LAPSE_PRICE|currency:'EUR':true}}
        </div>

        <div *ngIf="showRenewal[i]; else noCaduca">
          Caduca en {{remainingDays[i]}} dias
        </div>
        <ng-template #noCaduca>
          <div>
            Se renueva en {{remainingDays[i]}} dias
          </div>
        </ng-template>
      </mat-card-content>
      <button mat-raised-button class="mat-raised-button" class="mat-raised-button class" *ngIf="showRenewal[i]"
        (click)=" goToDoc(webLinks[i])">{{'UNSUSCRIBE'|oTranslate}}</button>
    </mat-card>
  </div>
</o-list>