<o-list #list attr="subscriptionsList" title="SUBSCRIPTIONS" service="subLapses" entity="subLapse" columns="SUB_LAPSE_ID;PLATF_NAME;SUB_LAPSE_END;SUB_LAPSE_PRICE" keys="SUB_LAPSE_ID"
  refresh-button="true" quick-filter="no" insert-button="false" 
  row-height="medium" detail-mode="none">

  <o-list-item *ngFor="let row of list.dataArray">
    <o-list-item-card #item title="{{ row.PLATF_NAME }}" subtitle="{{ 'Finaliza el ' + (row.SUB_LAPSE_END | date) + ' |' + ' Coste ' + (row.SUB_LAPSE_PRICE) + '€' + ' |' + ' Se renueva en ' + ' X '+ ' dias'}}" show-image="false"
      action-1-text="RENOVAR" action-2-text="CANCELAR">
      <div> patata!</div>
    </o-list-item-card>
  </o-list-item>

</o-list>