<div fxFill fxLayout="column" fxLayoutAlign="start">
  <o-table
    attr="subscriptionsTable"
    service="subscriptions"
    entity="subscription"
    keys="SUBS_ID"
    columns="SUBS_ID;SUBS_PRICE;SUBS_FREQUENCY;SUBS_ACTIVE;SUBS_START_DATE;SUBS_END_DATE;PLATF_NAME;PLATF_ID;USER_"
    visible-columns="SUBS_PRICE;RENOVATION_DATE;PLATF_NAME"
    query-rows="20"
  >
  <o-table-column attr="SUBS_PRICE" title="SUBS_PRICE" type="currency" thousand-separator="." decimal-separator="," currency-symbol="€"
      currency-symbol-position="right">
    </o-table-column>

    <o-table-column
      attr="SUBS_START_DATE"
      title="STARTDATE"
      type="date"
      format="LL"
    ></o-table-column>
    <o-table-column-calculated
      attr="RENOVATION_DATE"
      title="RENOVATION_DATE"
      [operation-function]="renovationDate"
      type="date"
      format="LL"
      class="o-table-column-centered"
    >
    </o-table-column-calculated>

    <o-table-columns-grouping>
      <o-table-columns-grouping-column attr="SUBS_PRICE" aggregate="sum"> </o-table-columns-grouping-column>
    </o-table-columns-grouping>
    <o-table-column-aggregate attr="SUBS_PRICE" title="(Total)"></o-table-column-aggregate>

  </o-table>
</div>
