<div fxFill fxLayout="column" fxLayoutAlign="start">
  <o-table
    attr="subscriptionsTable"
    service="subscriptions"
    entity="subscription"
    keys="SUBS_ID"
    columns="SUBS_ID;SUBS_PRICE;SUBS_FREQUENCY;SUBS_ACTIVE;SUBS_START_DATE;SUBS_END_DATE;PLATF_ID;USER_"
    visible-columns="SUBS_PRICE;SUBS_START_DATE;PLATF_ID"
    query-rows="20"
  >
    <o-table-column
      attr="SUBS_START_DATE"
      title="STARTDATE"
      type="date"
      format="LL"
    ></o-table-column>
  </o-table>
</div>
