.mat-stroked-button:nth-of-type(2),
.mat-stroked-button:nth-of-type(3) {
  display: none;
}

.nodisplay {
  display: none !important;
}

.hidden {
  display: none !important;
}
.img {
  padding: 1rem 0rem;
  max-width: 100%;
  display: block !important; 
  margin: auto !important;
}

.img img{
  height: 200px !important;
}