@import "custom-theme.scss";

/*Import the file who have the theme functions and the ontimize-theme-styles mixin.*/
@import "node_modules/ontimize-web-ngx-theming/ontimize-theme.scss";

@include ontimize-theme-styles($theme);
// Include ontimize-lite theme
// @import 'node_modules/ontimize-web-ngx-theming/ontimize-theme-lite.scss';
// @include ontimize-theme-styles-lite($theme, $lite-typography);

// After define theme, it is necessary to transfer color and typography to Ontimize Web framework
@import "node_modules/ontimize-web-ngx/theme.scss";
@include o-material-theme($theme, $default-typography);

// Propagate theme to screen styles definition.
@import "../../app/login/login.theme.scss";
@include login-theme($theme);
