o-app-header {
  background-color: #dbf0fe !important;
}

button {
  border-radius: 0.3rem !important;
}

table {
  border: 1px solid transparent !important;
  border-radius: 0.3rem !important;
}

.mat-stroked-button,
.mat-raised-button {
  background-color: #dbf0fe !important;
  color: #065471 !important;
}

.mat-stroked-button:disabled,
.mat-raised-button:disabled {
  opacity: 0.7 !important;
}
.mat-stroked-button:hover,
.mat-raised-button:hover {
  background-color: #065471 !important;
  color: #dbf0fe !important;
}

.mat-sort-header-button,
.mat-footer-cell {
  color: #032a38 !important;
}

.mat-cell {
  color: #235164 !important;
}

.mat-footer-row {
  background-color: transparent !important;
}

tbody .mat-row:nth-child(2n) {
  background-color: transparent !important;
}

tbody .mat-row:nth-child(2n + 1) {
  background-color: #dbf0fe !important;
}

.o-form-toolbar .mat-toolbar {
  box-shadow: none !important;
}

.mat-form-field-flex {
  background-color: #dbf0fe !important;
}

.o-combo-options-container {
  background-color: #dbf0fe;
}

.mat-calendar {
  background-color: #dbf0fe;
}

.o-container-title {
  color: #032a38 !important;
  font-weight: bold !important;
  font-size: 1.8rem;
}

.o-app-sidenav-image-container img {
  margin-right: 0 !important;
}

.mat-raised-button.mat-button-base.ng-star-inserted {
  padding: 23px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nvd3-svg {
  height: 460px !important;
}

/* items per page selector styles
.mat-form-field-flex{
  padding: 0 0 0 0.5em !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0 0 0.5em 0.5em !important;
}

.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}*/

.mat-paginator-container
  .mat-paginator-page-size
  .mat-paginator-page-size-select
  .mat-form-field-wrapper
  .mat-form-field-flex {
  padding: 0 0 0 0.5em !important;
}

.mat-paginator-container
  .mat-paginator-page-size
  .mat-paginator-page-size-select
  .mat-form-field-wrapper
  .mat-form-field-flex,
.mat-form-field-infix {
  padding: 0 0 0.4em 0.5em !important;
}

.mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}

.o-form-layout-dialog
  .form-layout-dialog-container
  .o-form-toolbar-header.mat-toolbar.mat-toolbar-single-row {
  background-color: transparent !important;
}

o-combo-search {
  background-color: #dbf0fe !important;
}

.o-list-container {
  min-height: 0 !important;
  height: auto !important;
}

.home-list .o-list-toolbar {
  display: none !important;
}

div.ng-star-inserted {
  height: auto !important;
  min-height: 0 !important;
}

.o-table.share-user-subs .o-table-container {
  min-height: 0 !important;
  height: auto !important;
}

.mat-tab-label .mat-tab-label-content{
  font-size: 1.5rem;
}

.mat-dialog-container {
  background-color:#98b9ca !important;
}

.img img{
  height: 50px;
  width: 50px;
  padding-bottom: 5px;
  padding-top: 5px;
  
}

.img2 img {
  object-fit: cover !important;
  width: 140px !important;
  height: 140px !important;
 
}

