o-app-header {
  background-color: #dbf0fe !important;
}

button {
  border-radius: 0.3rem !important;
}

table {
  border: 1px solid transparent !important;
  border-radius: 0.3rem !important;
}

.mat-stroked-button,.mat-raised-button {
  background-color: #dbf0fe !important;
  color: #065471 !important;
}

.mat-stroked-button:hover,.mat-raised-button:hover {
  background-color: #065471 !important;
  color: #dbf0fe !important;
}

.mat-sort-header-button,
.mat-footer-cell {
  color: #032a38 !important;
}

.mat-cell {
  color: #235164 !important;
}

.mat-footer-row {
  background-color: transparent !important;
}

tbody .mat-row:nth-child(2n) {
  background-color: transparent !important;
}

tbody .mat-row:nth-child(2n + 1) {
  background-color: #dbf0fe !important;
}

.o-form-toolbar .mat-toolbar {
  box-shadow: none !important;
}

.mat-form-field-flex {
  background-color: #dbf0fe !important;
}

.o-combo-options-container {
  background-color: #dbf0fe;
}

.mat-calendar {
  background-color: #dbf0fe;
}

.o-container-title {
  color: #032a38 !important;
  font-weight: bold !important;
  font-size: 1.8rem;
}
